* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

$primary: red !important;

@font-face {
    src: url('../fonts/TaylorLight.woff') format('woff');
    font-family: 'taylor';
}

@font-face {
    src: url('../fonts/TaylorBold.woff') format('woff');
    font-family: 'taylorbold';
}

.mobile-adjust {
    @media(max-width:992px) {
        flex-direction: column;
        text-align: center;

        select {
            text-align: center;
        }
    }
}

.bg-primary {
    background: $primary;
}


body {
    font-family: 'taylor' !important;

}

.page-title {

    margin-top: 125px;

    @media(max-width:992px) {
         margin-top: 10px;
    }

}

.header-main {
    background: $primary;
    padding: 40px 0;
    @media(max-width:992px) {
        padding: 15px 0;
    }

    .navbar-toggler {
        background: #fff;
    }

    .navbar-collapse {
        @media(max-width:992px) {
            background: #8b1313;
            padding: 15px;

            .nav-link {
                text-align: left !important;

            }
        }
    }

    .brand {
        max-width: 300px;
        position: absolute;
        left: -130px;
        top: -69px;

        @media(max-width:992px) {
            display: none;
        }
        // @media(max-width:1024px) {
        //    max-width: 200px;
        // }
    }

    .navbar-brand {
        max-width: 190px;
            display: none;

        @media(max-width:992px) {
           display: block;
        }
    }

    .nav-custom {

        column-gap: 40px;

        @media(max-width:1024px) {
            column-gap: 5px;
        }


        li {
            .nav-link {
                color: #fff !important;
                font-size: 24px;
                text-align: center;
                padding: 8px 15px;
                font-family: 'taylorbold';

                &:hover {
                    background: #fff;
                    color: $primary;
                    border-radius: 5px;
                    font-weight: bold;
                }


            }
        }

    }
}